<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.movie.MovieReserveDAO">


	<select id="MoviegenreCheck" resultType="MovieReserveVO" parameterType="MovieReserveVO">
	<if test="movieId==null">
	SELECT distinct m.movie_title , m.movie_id  
	FROM movie m, screen s
	<where>
 		 <if test="genre!=null and genre.length>0">
 		
	    <foreach collection="genre" item="item" open="(" close=")" separator="  " index="index">
		<choose>
		<when test="genre.length==1 or index==0"> 
		 MOVIE_GENRE like '%'||#{item}||'%'
		</when>
		<otherwise>
		 or MOVIE_GENRE like '%'||#{item}||'%'
		</otherwise>
		</choose>
		
		</foreach>
		</if> 
		and m.MOVIE_ID=s.MOVIE_ID
		<choose>
		<when test="movieAge==-1"> 
		and movie_age in (0)
		</when>
		<otherwise>
		and movie_age <![CDATA[<=]]> #{movieAge}
		</otherwise>
		</choose>
		<![CDATA[
		and s.screen_date = #{endDate}
		]]>  
		and s.screen_start_time >= #{screenStartTime}
		</where>
		ORDER BY movie_title
		</if>
		<if test="movieId!=null">
		   SELECT distinct t.THEATER_FIRST_LOC , s.MOVIE_ID ,m.end_date, m.movie_title
   		  from theater t, room r, screen s,movie m 
   	  	  where t.THEATER_ID=r.THEATER_ID  
   		  and r.room_id=s.ROOM_ID 
   		  and s.movie_id = m.movie_id 
  		  and s.MOVIE_ID = #{movieId} 
  		  and s.screen_date in #{endDate} 
  		  and s.screen_start_time >= #{screenStartTime}
		</if>
	</select>


</mapper>